---
layout: default
title: tag-tubiflorae
permalink: /tubiflorae/
---

{% include hero.html %}

<div class="arhive-head">
	<div class="container">
	  <h1 class="archive-title">Tag: Tubiflorae</span></h1>
	</div>
  </div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Alphabetical Order</h4>
			{% endif %}
		</div>
	</div>
</div>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="collapse">
      <h2>List</h2>
      <div class="collapse-panel">
        <div class="collapse-title">Acanthus</div>
        <div class="collapse-content">
            great art and artifice, "Love art, and nothing can separate us."(Gaumond, 2022)
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Anemone</div>
        <div class="collapse-content">
            Fading love, lost hope and expectation abandoned.<br><br>
            Red : fruitless love affair<br><br>
            Purple : Secretly adore<br><br>
            White : The joy of love(Fresh, 2021)<br><br>
            <img src="../images/anemone.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Belledonna</div>
        <div class="collapse-content">
            Silence and Beauty unseen
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Borage</div>
        <div class="collapse-content">
            Bluntness, Directness, Courage
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Forget-me-not</div>
        <div class="collapse-content">
            True love memories, Do not forget me<br><br>
            <img src="../images/Forget-me-not.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Lemon balm</div>
        <div class="collapse-content">
            Distrust<br><br>
            <img src="../images/Lemon balm.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Marjoram</div>
        <div class="collapse-content">
            Joy and happiness
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Morning glory</div>
        <div class="collapse-content">
            Affection
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Oregano</div>
        <div class="collapse-content">
            Substance
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Sage</div>
        <div class="collapse-content">
            Symbol of Wisdom and Immortality, Vice and Virtue(Walls-Thumma, 2017)<br><br>
            <img src="../images/Sage.jpg" width="300" />
        </div>
      </div>


      <div class="collapse-panel">
        <div class="collapse-title">Salvia</div>
        <div class="collapse-content">
            Blue: associated with friendship and family, "missing you" or "thinking about you."(Gaumond, 2021).<br><br>
            Red: connected with love and passion, and used in "Forever mine" gestures(Gaumond, 2021).<br><br>
            <img src="../images/Salvia, blue.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Savory</div>
        <div class="collapse-content">
            the symbolic meaning of love and romance(Gaumond, 2021).<br><br>
            White: honesty and sympathy(Gaumond, 2021).<br><br>
            Pink: Happiness and gentleness(Gaumond, 2021).<br><br>
            Lilac: great fortune, convey wealth and fresh beginnings(Gaumond, 2021).<br><br>
            <img src="../images/Savory.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Spearmint</div>
        <div class="collapse-content">
            Spearmints symbolize Warmth of sentiment and wisdom(Almanac, 2022).<br><br>
            <img src="../images/Spearmint.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Speedwell</div>
        <div class="collapse-content">
            Blue: openness to new experiences, tranquility, quiet, trust, and sickness recovery(Gaumond, 2021).<br><br>
            Purple: monarchy, regalness, elegance, mystery, passion, and life changes(Gaumond, 2021).<br><br>
            Pink: joy, youth, new or emerging sentiments of love, softness, and delicacy(Gaumond, 2021).<br><br>
            
            <img src="../images/Speedwell.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Thyme</div>
        <div class="collapse-content">
            Activity, bravery, courage and strength.<br><br>
            <img src="../images/Thyme.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Reference</div>
        <div class="collapse-content">
            Almanac. 2022. <i>Flower Meanings: The Language of Flowers.</i> [online] Available at: <https://www.almanac.com/flower-meanings-language-flowers> [Accessed 12 April 2022].<br><br>
            Fresh, F., 2021. <i>Anemone Meaning and Symbolism - FTD.com.</i> [online] FTD.com. Available at: <https://www.ftd.com/blog/share/anemone-meaning-and-symbolism> [Accessed 12 April 2022].<br><br>
            Gaumond, A., 2021. <i>Salvia Flower Meaning, Symbolism, and Uses.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/salvia-flower/> [Accessed 12 April 2022].
            Gaumond, A., 2021. <i>Savory Flower Meaning, Symbolism, Types, and Uses.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/savory-flower/> [Accessed 12 April 2022].
            Gaumond, A., 2021. <i>Speedwell (Veronica) Flower Meaning, Types, and Uses.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/speedwell-flower/#4-speedwell-botanical-characteristics-colors-fragrances-> [Accessed 12 April 2022].<br><br>
            Gaumond, A., 2022. <i>Acanthus Flower Meaning, Types, and Growing Tips.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/acanthus-flower/> [Accessed 12 April 2022].<br><br>
            Walls-Thumma, D., 2017. <i>The Significance of the Herb Sage.</i> [online] Garden Guides. Available at: <https://www.gardenguides.com/139463-significance-herb-sage.html> [Accessed 12 April 2022].<br><br>
        </div>
      </div>
    </div>
    <script>
      function toogleExpand(e) {
        const isActive = this.className.includes('active')
        this.className = isActive ? 'collapse-panel' : 'collapse-panel active'
      }
      const allPanels = document.querySelectorAll('.collapse-panel')
      Array.from(allPanels).forEach(item => {
        item.onclick = toogleExpand
      })
    </script>
  </body>
  <style>
    .collapse {
      padding: 20px;
      border: 1px solid #ededed;
    }
    .collapse-panel {
      border-top: 1px solid #ededed;
    }
    .collapse-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      height: 36px;
      position: relative;
      cursor: pointer;
    }
    .collapse-title::after {
      content: '>';
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease-out;
    }
    .collapse-content {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }
    .collapse-panel.active .collapse-title::after {
      transform: rotate(90deg);
    }
    .collapse-panel.active .collapse-content {
      max-height: 4000px;
      overflow: hidden;
    }
  </style>
</html>
