---
layout: default
title: tag-Asteraceae
permalink: /asteraceae/
---

{% include hero.html %}

<div class="arhive-head">
	<div class="container">
	  <h1 class="archive-title">Tag: Asteraceae</span></h1>
	</div>
  </div>

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Alphabetical Order</h4>
			{% endif %}
		</div>
	</div>
</div>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="collapse">
      <h2>List</h2>
      <div class="collapse-panel">
        <div class="collapse-title">Amaryllis</div>
        <div class="collapse-content">
          Pride, The desire to be loved, the courageous pursuit of love, the weak desire to be cared for(Team, 2020)
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Aster</div>
        <div class="collapse-content">
          Symbol of Love, Daintiness, Wit, Lie, Aristocratic taste<br><br>

          <img src="../images/asters.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Bachelor's button(Cornflower)</div>
        <div class="collapse-content">
          Single blessedness<br><br>
          Blue: meet<br><br>
          Purple: tenderness and loveliness(Forbes, 2022)<br><br>
          <img src="../images/bachelor-button.jpg" width="300" />

        </div>
      </div>


      <div class="collapse-panel">
        <div class="collapse-title">Chrysanthemum</div>
        <div class="collapse-content">
          White:Remembering loved ones <br><br>
          Yellow:Steadfast and unyielding <br><br>
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Coreopsis</div>
        <div class="collapse-content">
          Pure, mercurial, free<br><br>
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Dahlia, single</div>
        <div class="collapse-content">
          Finding inner strength, being elegant and sticking out from the crowd(Moulton, 2021).
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Daisy</div>
        <div class="collapse-content">
          Rebirth, new beginnings, and hope.<br><br>
          White - purity and innocence(Moulton, 2022).<br><br>
          Yellow - cheerfulness, friendship, joy, and wishing someone well or "get well"(Moulton, 2022).<br><br>
          Blue - long-lasting trust, honesty and loyalty(Moulton, 2022).<br><br>
          Purple - feminine beauty, pride, elegance, and royalty or regalness(Moulton, 2022).<br><br>
          Pink - mild appreciation, tenderness, or adoration(Moulton, 2022).<br><br>
          Red - romantic love(Moulton, 2022).<br><br>
          Orange - passion, excitement, sunshine, and happiness(Moulton, 2022).<br><br>
          <img src="../images/daisy.jpg" width="300" />
          

        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Edelweiss</div>
        <div class="collapse-content">
          The Edelweiss' distinctive hairy petals and leaves hint to its romantic significance, but it's the white hue that represents purity and innocence(Fleming, 2019)<br><br>
          <img src="../images/Edelwelss.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Marigold</div>
        <div class="collapse-content">
          Grief, jealousy
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Southernwood</div>
        <div class="collapse-content">
          White: purity, clarity, healing, peace, and even holiness(Gaumond, 2021).<br><br>

          Yellow and cream-colored: joy, growth, youthfulness, fun, and exuberance(Gaumond, 2021).<br><br>
          
          <img src="../images/Southernwood.jpg" width="300" />
        </div>
      </div>

      <div class="collapse-panel">
        <div class="collapse-title">Sunflower</div>
        <div class="collapse-content">
          Devotion and Loyalty, Peace and Hope, Ambition and Inspiration, Power and Pride, Healing and Strength, Splendor, intellectual greatness, as well as pure and lofty thoughts(Jay, 2022)<br><br>
          
          <img src="../images/Sunflower.jpg" width="300" />
        </div>
      </div>
      <div class="collapse-panel">
        <div class="collapse-title">Tansy</div>
        <div class="collapse-content">
          Protection, immortality, resistance, health(Gaumond, 2021).<br><br>
          
          <img src="../images/Tansy.jpg" width="300" />
        </div>
      </div>
      <div class="collapse-panel">
        <div class="collapse-title">Tarragon</div>
        <div class="collapse-content">
          Symbol of Lasting interest.<br><br>
          
          <img src="../images/Tarragon.jpg" width="300" />
        </div>
      </div>
      <div class="collapse-panel">
        <div class="collapse-title">Yarrow</div>
        <div class="collapse-content">
          Both healing and love.(Gaumond, 2021).<br><br>
          White: Renewal, new beginnings, hope, peace, clarity, and purity(Gaumond, 2021).<br><br>
          Pink: Love, joy, youthfulness, happiness, and fun(Gaumond, 2021).<br><br>
          Red: Passion, romantic, courage, power, and strength(Gaumond, 2021).<br><br>
          Yellow: Warmth, celebration, excitement, friendship, and positivity(Gaumond, 2021).<br><br>
          Orange: Enthusiasm, gratitude, appreciation, fresh starts, and friendship(Gaumond, 2021).<br><br>
          
          <img src="../images/Yarrow.jpg" width="300" />
        </div>
      </div>


      <div class="collapse-panel">
        <div class="collapse-title">Reference</div>
        <div class="collapse-content">
          Fleming E., 2019. <i>What is the significance of Edelweiss?.</i> [online] Sidmartinbio. Available at: <https://www.sidmartinbio.org/what-is-the-significance-of-edelweiss/> [Accessed 12 April 2022].<br><br>
          Gaumond, A., 2021. <i>Tansy Flower Meaning, Popular Types, and Uses.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/tansy-flower/> [Accessed 12 April 2022].<br><br>
          Gaumond, A., 2021. <i>Ultimate Guide to Southernwood (Artemisia abrotanum).</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/southernwood-flower/> [Accessed 12 April 2022].<br><br>
          Gaumond, A., 2021. <i>Ultimate Guide to Yarrow (Achillea millefolium).</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/yarrow/#12-common-yarrow-colors-and-the-meaning-amp-symbolism-> [Accessed 12 April 2022].<br><br>
          Jay, N., 2022. <i>Sunflower - Symbolism and Meaning.</i> [online] Symbolsage. Available at: <https://symbolsage.com/sunflower-symbolism-and-meaning/> [Accessed 12 April 2022].<br><br>
          Moulton, M., 2021. <i>Ultimate Guide to Dahlia Flower Meaning and Symbolism.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/dahlia-flowers/> [Accessed 12 April 2022].<br><br>
          Moulton, M., 2022. <i>Daisy flower meaning and symbolism (ultimate guide)</i>. [online] Petal Republic. Available at: <https://www.petalrepublic.com/daisy-flower-meaning/> [Accessed 12 April 2022].<br><br>
          Team, P., 2020. <i>Ultimate Guide to Amaryllis Flower Meaning and Symbolism.</i> [online] Petal Republic. Available at: <https://www.petalrepublic.com/amaryllis-flower-meaning/> [Accessed 12 April 2022].<br><br>
        </div>
      </div>
    </div>
    <script>
      function toogleExpand(e) {
        const isActive = this.className.includes('active')
        this.className = isActive ? 'collapse-panel' : 'collapse-panel active'
      }
      const allPanels = document.querySelectorAll('.collapse-panel')
      Array.from(allPanels).forEach(item => {
        item.onclick = toogleExpand
      })
    </script>
  </body>
  <style>
    .collapse {
      padding: 20px;
      border: 1px solid #ededed;
    }
    .collapse-panel {
      border-top: 1px solid #ededed;
    }
    .collapse-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      height: 36px;
      position: relative;
      cursor: pointer;
    }
    .collapse-title::after {
      content: '>';
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease-out;
    }
    .collapse-content {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }
    .collapse-panel.active .collapse-title::after {
      transform: rotate(90deg);
    }
    .collapse-panel.active .collapse-content {
      max-height: 4000px;
      overflow: hidden;
    }
  </style>
</html>

Image Source:<a href="https://pixabay.com/">Pixabay</a>